<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Plug in the store name -->
  <title>...</title>
  <!-- Link style.css -->

</head>

<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
    </ul>
  </nav>
  <div class="store-container">
    <header class="store-header">
      <!-- Plug in the store name and description -->
      <h1 class="store-name">...</h1>
      <p class="store-description">...</p>
      <!-- Define a conditional to display the correct p tag based on the open attribute -->

      <p class="store-status open">Now Open</p>

      <p class="store-status closed">Closed</p>

    </header>

    <section class="store-hours">
      <h2>Hours of Operation</h2>
      <ul>
        <!-- Define a for loop that goes through each of the days to plug in the day and time -->

        <!-- Plug in the day and hours in the slots below-->
        <li><strong>...</strong>: ... %></li>

      </ul>
    </section>
  </div>
</body>

</html>