<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <!-- Link style.css -->

</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
        </ul>
    </nav>
    <div class="menu-container">
        <header class="menu-header">
            <h1 class="menu-title">Menu</h1>
            <p class="menu-description">Browse our magical inventory and stock up for your next adventure!</p>
        </header>

        <section class="item-grid">
            <!-- Define a for loop that repeats the entire card for every item in the menu -->

            <div class="item-card">
                <!-- Plug in the values based on descriptions -->
                <img src="..." class="item-image">
                <h3 class="item-name">
                    ...
                </h3>
                <p class="item-cost">Cost: <strong>
                        ... gold
                    </strong></p>
            </div>

        </section>
    </div>
</body>

</html>